{{#each htmlWebpackPlugin.options.nav_links}}
  <li class="reveal nav-item pointable">
    <span class="underlineable chevron-right">{{this.sectionTitle}}</span>
    <div class="dropdown-wrapper">
      <span class="underlineable nav-section-title">{{this.sectionTitle}}</span>
      <div class="close-menu close-sub-menu"><div class="close-menu-inner"></div></div>
      <ul class="revealed-menu {{this.sectionTitle}}-menu">
          {{#each this.sectionLinks}}
            <li class="dropdown-item">
              <a class="nav-link-group" href="{{this.url}}">
                {{#if this.logo}}
                  <img alt="careers logo" class="nav-item-icon" src="{{this.logo}}"/>
                {{/if}}
                <div class="link-content">
                  <span class="nav-link-text">{{this.text}}</span>
                  <p>{{this.description}}</p>
                </div>
              </a>
            </li>
          {{/each}}
      </ul>
    </div>
  </li>
{{/each}}
<li class="sub-nav-mobile">
  <ul class="sub-nav-right mobile">
    {{> ../site_nav_links}}
    {{!-- Jekyll include partial syntax --}}
    {{!-- {% include site_nav_links %} --}}
  </ul>
</li>
<li class="nav-item pointable login-wrapper signed-out">
  <a class="lego-btn lego-btn-white login" href="https://my.mlh.io/oauth/authorize?client_id={{ htmlWebpackPlugin.options.myMLH.clientId }}&redirect_uri={{[canonicalGenerator] htmlWebpackPlugin.options.site.baseUrl htmlWebpackPlugin.options.pageName}}&response_type=token&scope=email+event">Log In</a>
</li>
<li class="nav-item pointable signed-out">
  <a class="lego-btn" href="https://my.mlh.io/oauth/authorize?client_id={{ htmlWebpackPlugin.options.myMLH.clientId }}&redirect_uri={{[canonicalGenerator] htmlWebpackPlugin.options.site.baseUrl htmlWebpackPlugin.options.pageName}}&response_type=token&scope=email+event">Sign Up</a>
</li>
<li class="reveal nav-item pointable reveal nav-item logged-in-btns">
  <span class="underlineable username-short"></span>
  <div class="dropdown-wrapper">
    <ul class="revealed-menu">
      {{> main_nav_user_links}}
    </ul>
  </div>
  <div class="down"></div>
  <img alt="user acount picture" class="account-circle" src=""/>
</li>