{{#> layouts/default}}
  {{#*inline "content-block"}}
    <div style="background-color: #f3f5f9;">
      {{> _includes/hero 
        title="Software"
        description="We partnered with some amazing technology companies to get you FREE access to their APIs this weekend."
        pageClass=htmlWebpackPlugin.options.pageName
      }}
      <div class="content">
        <ul class="software-list">
          {{#each htmlWebpackPlugin.options.software}}
            <li class="software-item-wrapper">
              <div class="software-item">
                <img class="sponsor-logo" src="{{this.logo}}">
                <h4 class="name">{{this.name}}</h4>
                <span class="tag-line">{{this.tag_line}}</span>
                <div>
                  <p class="description">{{this.description}}</p>
                  <ul class="perk-list">
                    {{#each this.perks}}
                      <li class="perk-link"><a href="{{this.link}}">{{this.text}}</a></li>
                    {{/each}}
                  </ul>
                </div>
              </div>
              <a href="{{this.button.link}}" class="lego-btn action-btn">{{this.button.text}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/inline}}
{{/layouts/default}}